:root {
  --indigo-300: #a5b4fc;
  --indigo-500: #6366f1;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.react-datepicker__header {
  background-color: var(--indigo-300);
}

.react-datepicker__day--selected {
  background-color: var(--indigo-500);
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--indigo-300);
}

.react-datepicker:focus {
  border: none;
}
