@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-800: #6b7280;

  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
}

.light {
  color: #374151;
  --background: #f3f4f6;
  --background-sidebar: #fafaf9;

  --card: #f9fafb;

  --text: #374151;
  --button-text: #f9fafb;
  --button-text-inverted: #4f46e8; /* indigo-500 */

  --border: #d1d5db;
  --border-b: #e0e7ff; /* indigo-100 */
  --shadow: #e0e7ff;

  --hover-sidebar: #f5f5f4;
}

.dark {
  color: #d0d2d7;
  --background: #111827;
  --background-sidebar: #1e293b;

  --card: #1e293b;

  --text: #d0d2d7;

  --button-text: #f9fafb;
  --button-text-inverted: #4f46e8;

  --border: #9fa4af98;
  --border-b: #223047;
  --shadow: #111827;

  --hover-sidebar: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  /* color: #374151; */
  /* background: #f3f4f6; */
}

.active {
  transition: all 0.2s;
  color: #6366f1;
}

input[type="file"]::file-selector-button {
  font-size: 14px;
  color: #6366f1;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid #6365f19f;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #6366f1;
  color: #fff;
}

input,
select,
textarea {
  color: var(--color-gray-800);
}

input[disabled],
select[disabled],
textarea[disabled] {
  background-color: var(--color-gray-50);
  color: var(--color-gray-400);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e7ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5b4fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
