@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #6b7280;

  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;

  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;

  --color-slate-50: #f8fafc;
}

.light {
  color: var(--color-gray-700);
  --background-primary: var(--color-gray-100);
  --background-secondary: var(--color-stone-50);

  --table-header: var(--color-indigo-200);
  --menu: var(--color-indigo-200);

  --card: var(--color-slate-50);

  --text: var(--color-gray-700);
  --button-text: var(--color-gray-50);
  --button-text-inverted: var(--color-indigo-600);

  --border: var(--color-gray-300);
  --border-b: var(--color-indigo-100);
  --border-modal: var(--color-indigo-300);
  --shadow: var(--color-indigo-100);

  --hover-sidebar: var(--color-stone-100);

  --filterButtons-border: var(--color-indigo-100);
  --active: var(--color-indigo-300);

  --status-green: #bbf7d0;
  --status-orange: #fef3c7;
  --status-red: #fecdd3;
  --status-blue: #c7d2fe;
  --status-gray: #e5e7eb;

  --db-arrival-icon: #166534;
  --db-departure-icon: #9f1239;
  --db-presentGuests-icon: #3730a3;
  --db-info: var(--color-gray-50);

  --input-disabled: var(--color-gray-200);

  --timetable-weekend-bg: var(--color-gray-100);
}

.dark {
  --color-dark_1: #111827;
  --color-dark_2: #1e293b;
  --color-dark_3: #223047;

  --status-green: #10b981;
  --status-orange: #f59e0b;
  --status-red: #f43f5d;
  --status-blue: #6366f1;
  --status-gray: #4b5563;

  --db-arrival-icon: #99f6e4;
  --db-departure-icon: #fecdd3;
  --db-presentGuests-icon: #c7d2fe;

  color: var(--color-gray-200);
  --background-primary: var(--color-dark_1);
  --background-secondary: var(--color-dark_2);

  --table-header: var(--color-dark_3);
  --menu: var(--color-indigo-600);

  --card: var(--color-dark_2);

  --text: var(--color-gray-200);

  --button-text: var(--color-gray-50);
  --button-text-inverted: var(--color-indigo-600);

  --border: #9fa4af6f;
  --border-b: var(--color-dark_3);
  --border-modal: var(--color-indigo-300);
  --shadow: #0f172a;

  --hover-sidebar: var(--color-dark_1);

  --filterButtons-border: var(--color-dark_2);
  --active: var(--color-indigo-600);

  --db-infobox: var(--color-dark_3);

  --input-disabled: var(--color-gray-700);

  --timetable-weekend-bg: var(--color-dark_3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: var(--background-primary);
}

.active {
  transition: all 0.2s;
  color: #6366f1;
}

input[type="file"]::file-selector-button {
  font-size: 14px;
  color: #6366f1;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid #6365f19f;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #6366f1;
  color: #fff;
}

input,
select,
textarea {
  color: var(--color-gray-800);
}

input[disabled],
select[disabled],
textarea[disabled] {
  background-color: var(--input-disabled);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active);
  border-radius: 10px;
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  background: var(--status-blue);
}

.select-container .react-select__control {
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 10px;
  min-width: 300px;
}

.select-container .react-select__control:hover {
  border: 1px solid var(--active);
}

.select-container .react-select__single-value {
  color: var(--text);
}

.select-container .react-select__menu {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--background-secondary);
}

.select-container .react-select__option {
  background-color: var(--background-secondary);
}

.select-container .react-select__option--is-selected {
  background-color: var(--active);
}

.select-container .react-select__control--is-focused {
  border: 1px solid var(--active);
  box-shadow: none;
}

.select-container .react-select__option:hover {
  background-color: var(--active);
}

/* Add this to your CSS file */
.hover-div {
  display: none;
}

div:hover .hover-div {
  display: block;
}
