@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  color: #374151;
}

.active {
  transition: all 0.2s;
  color: #6366f1;
}

#reactSchedulerOutsideWrapper {
  height: 570px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #6365f142;
  border-radius: 10px;
  background-color: transparent;
}
